# IDE
.vscode
.idea

# Build outputs
build
cmake-build-*
target

# Doc outputs
/doc/html

# AI agents
.claude
superpowers
.worktrees
.firecrawl

# Benchmarks
perf.data
perf.data.old

# Bazel symlinks
/third_party/distributed_point_functions/bazel-*
